#username
{
width:100%;
height: 10%;
font-size: 40;
background-color: bisque;
}
#login
{
    width: 30%;
    height: 10%;
    font-size: 40;
    background-color: blue;
    font-family:'Times New Roman', Times, serif
}
body{
background-color: aquamarine;
}